<div style="border: 1px solid black">
   @ChildContent
</div>

@code {
   [Parameter] public CanvasComponent CanvasComponent { get; set; }

   [Parameter] public RenderFragment ChildContent { get; set; }
}
