@inherits CanvasComponent
@inject IJSRuntime JSRuntime

<div 
    id="@($"Item{DataContext.Id}")"
    style="background-color:darkblue;
    width:200px;
    height:200px;
    top: @(DataContext.Y + "px");
    left: @(DataContext.X + "px");
    position: absolute;
    border-radius: 100px" 
    @onmousemove="MouseMove" 
    @onmousedown="MouseDown"
    @onmouseup="MouseUp" 
    @onmouseout="MouseOut">
    <div style="background-color:red;
    width:100px;
    height:100px;">
        @Date
    </div>
</div>

@code {
    public string Date { get; set; }

    private object _locker = new object();

    private async Task Time()
    {
        while(true)
        {
            lock(_locker)
            {
                Date = DateTime.Now.ToLongTimeString();
            }
            await Task.Delay(200);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            Task.Run(Time);
        }

        base.OnAfterRender(firstRender);
    }
}